h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', sans-serif;
}
p, div {
	font-family: 'Titillium Web', sans-serif;
}

.editForm{
	display:none !important
}
.topsearch{
	margin-top:20px;
	float:left;
}

.topicons{
	margin-top:25px;
	margin-right: 10px;
}

.top-images{
	margin:10px;
	width:17px;
	height:17px;
}

.subscriptionicons{

	margin-right: 10px;
}

#top-profileimage{
	margin:10px;
	width:30px;
	height:30px;
	margin-left: 50px;
}


#searchbox{
	background-image: url(assets/images/search.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 7px 7px;
	padding-left:30px;

}

.head-panel .panel-heading{
	padding: 0px;
	margin: 0px;
}

.head-panel .panel-heading h2{
	padding: 0px;
	margin: 0px;
	margin-top:15px;
}

.head-panel .panel-heading .user-dropdown {
	float:right;
	margin-top: 10px;
}

.nav-search{
	border:0px transparent;
	margin-top: 12px;
	border: 1px solid #dfdfdf;
	height: 30px;
	border-radius: 4px;
	padding: 0px;
}

body {
	min-height: 2000px;
	padding-top: 70px;
	font-size: 14px;
	font-family: Arial, sans-serif;
}
.errors{
	color: red;
	background-color: lightpink;
	border:solid 1px;
	border-radius: 4px;
}
/*.resource-actions a{
	float:right;
}*/

#cover {
	background: url("//assets/images/ajaxloader.gif") no-repeat scroll center center #FFF;
	position: absolute;
	height: 100%;
	width: 100%;
}
a{
	color:darkcyan;
}

a,
a label,
.subscriptionicons{
    cursor: pointer;
}

.panel-body{
	border-bottom:solid 1px lightgray;

}
.panel-body:hover{
	background-color: whitesmoke;
	cursor: hand;

}
.panel-heading{
	background-color: mediumaquamarine !important;
}

.navbar{
	background-color: black !important;
}
.social{
	cursor: pointer;

}
.social:hover{
	zoom: 150%;

}
.subscriptionicons:hover{

}
.description{
	text-overflow : ellipsis;
}
.edit-topic-name{
	display: none;
}
.fa-heart-o{
	font-size: 24px;

}
.fa-heart{
	font-size: 24px;
}
.pagination{
	margin-left:25%;
}
.span-mouseover{
	cursor: pointer;
}
.span-mouseover:hover{
	color:blue;
}
.users-panel-body:hover{

	background-color: white !important;

}
.user-row:hover{

	background-color: whitesmoke;
	cursor: hand;


}
